body {
    background-color: rgb(138, 7, 219);
    color: #fbf6f6;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0px;
}

h1 {
    color: darkblue;
    font-size: 40px;

}

p {
    font-size: 25px;

}

header {
    border-bottom: solid 3x color rgb(9, 9, 233);
    margin: 2px;
    padding: 10px;
    color: tomato;

}

.chamada {
    background: #fbf6f6;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;

}

    .chamada-texto{
    margin-right: 8%;

}

img {
    height: 200px;

}

.categoria-videos {
    display: flex;
    overflow-y: auto;
    gap: 15px;
    padding: 20px;
    scroll-behavior: smooth;
}

.categoria-videos::-webkit-scrollbar {
    height: 8px;

}

.categoria-videos::-webkit-scrollbar-thumb {

    background-color: darkred;
    border-radius: 4px;

}
categoria{
    padding-left: 20px;
    padding-right: 20px;
}
